extends layout 
 
block content 
  h1= title 
 
  form(id='garrettCarsForm', action="/resource/garrettCars", method="POST") 
    div.form-group 
        label.garrettCarsAttr(for='carName') car Name 
        input#carName(type='text', name='carName') 
    div.form-group 
        label.garrettCarsAttr(for='carModel') car Model 
        input#carModel(type='text', name='carModel') 
    div.form-group 
        label.garrettCarsAttr(for='cost') car cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['garrettCarsForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 